*.swp
*.swo
vim/.netrwhist
fish/fish_history
fish/fishd.*
fish/hook
fish/functions
fish/completions
fish/conf.d

atom/.apm
atom/.node-gyp
atom/blob-store
atom/compile-cache
atom/local-history
atom/packages
atom/recovery
atom/storage
.DS_Store
